name: Export & Deploy Notebooks
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up notebook state cache
        uses: actions/cache@v4
        with:
          path: pluto_state_cache
          key: ${{ runner.os }}-pluto_state_cache-v2-${{ hashFiles('**/Project.toml', '**/Manifest.toml') }}-${{ hashFiles('**/*.jl') }}
          restore-keys: |
            ${{ runner.os }}-pluto_state_cache-v2-${{ hashFiles('**/Project.toml', '**/Manifest.toml') }}
      - name: Install Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: 1.11
      - name:
          Run Pluto notebooks and generate website
          # Save create package environment from notebook
          #   (write_nb_to_dir modifies changes the cell order
          #    if macros are involved hence we want to call it
          #    on a copy of the notebook)
        shell: julia --color=yes --project=. {0}
        run: |
          dir0 = pwd()
          dir1 = joinpath(dir0, "generate")
          cd(dir1)
          run(`cp generate.jl generate2.jl`)
          import Pkg
          Pkg.add(Pkg.PackageSpec(name="Pluto", version="0.19.9"))
          import Pluto
          Pluto.activate_notebook_environment(joinpath(dir1, "generate2.jl"))
          Pkg.instantiate()
          include(joinpath(dir1, "generate.jl"))

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: website
          path: ./website/__site

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@releases/v4
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: ./website/__site
